/* Updated Skills Section Styling */
#skills {
    min-height: 70vh;
    margin: 0;
    padding: 50px 20px;
    background-color: #0b0b36;
}

.skills-container {
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}

.skills-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #FFD700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Skills Grid Layout */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-card {
    background-color: #7b1123;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.skill-icon {
    margin-bottom: 10px;
}

.skill-description {
    font-size: 1rem;
    line-height: 1.5;
}

.skill-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
